{% extends 'base.html.twig' %}
{% block title %}
    {{ i18n.home }}
{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
    <div class="container">
        <img src="/assets/images/background.jpg" alt="">
        <div class="row">
            <div class="col-md-4">
                Одна из трёх колонок
            </div>
            <div class="col-md-4">
                Одна из трёх колонок
            </div>
            <div class="col-md-4">
                Одна из трёх колонок
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
{% endblock %}