{% extends 'base.html.twig' %}
{% block title %}
    {{ i18n.home }}
{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="123">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium ad, alias
                    consequatur corporis dolorem earum fuga incidunt maxime nisi odit perferendis quia repellat sequi
                    similique tempore, ullam veniam voluptates!
                </div>
            </div>
            <div class="col-md-4">
                Одна из трёх колонок
            </div>
            <div class="col-md-4">
                Одна из трёх колонок
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
{% endblock %}