
#LogIn {
    color: red !important;
}

.descriptor {
    background-color: black !important;
    color: aliceblue;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 7px
}

#logIn {
    background-color: black !important;
    border-color: black !important;
    color: white !important;
}

#logIn:hover {
    background-color: white !important;
    border-color: black !important;
    color: black !important;

}

.logIn {
    background-color: black !important;
    border-color: black !important;
    color: white !important;
}

.logIn:hover {
    background-color: white !important;
    border-color: black !important;
    color: black !important;

}

 div {
    font-family: "Quicksand", "Montserrat", sans-serif !important;
}

.modal-dialog {
    max-width: 60% !important;
    margin: 13% auto!important;
}

.mont{
    font-family: "Montserrat","Quicksand",sans-serif !important;

}

.mont-bold{
    font-family: "Montserrat","Quicksand",sans-serif !important;
    font-weight: 800;
}