html, body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

.admin {
    background-color: #ebebeb;
}

button:focus {
    outline: 0;
}

.auth {
    height: 100vh;
    background-color: #fbfbfb;
}

.navbar-toggler {
    border: none !important;
    margin-right: 1rem !important;
}

.navbar {
    justify-content: normal !important;
}

.navbar-nav {
    padding: .25rem .75rem !important;
}

.nav-link {
    color: #fff;
}

.bg-white {
    background-color: #ffffff;
}

.flex-column {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.box-center {
    margin: 0 auto;
}

.flex-center {
    align-self: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-patient-info {
    flex-direction: row;
}

.auth-title {
    color: #000;
    margin-bottom: 20px;
}

.auth-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.auth-row {
    min-width: 400px;
    margin: 5px;
}

.auth-row-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-radius: 6px;
    margin-bottom: 20px;
}

.shaded {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.bordered {
    border-bottom: 2px solid #cccccc;
}

.admin-container {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 6px 6px -4px rgba(32, 33, 36, 0.28);
    border-radius: 0 0 10px 10px;
}

.shaded-container {
    display: block;
    width: 100%;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 6px 6px -4px rgba(32, 33, 36, 0.28);
    border-radius: 10px;
}

.admin-rounded {
    border-radius: 10px;
    padding: 10px;
}

.medicus-bg-color {
    color: #fff !important;
    background-color: #7986e1 !important;
}

.medicus-bg-color-hover:hover {
    color: #fff !important;
    background-color: #7986e1 !important;
}

a.medicus-color {
    text-decoration: none;
}

.medicus-color {
    color: rgba(0, 0, 0, .5) !important;
}

.medicus-color:hover {
    color: rgba(0, 0, 0, 1) !important;
}

/* Medicus Button and Form Control for Bootstrap */
.btn-medicus {
    color: #fff;
    background-color: #7986e1;
    border-color: #7986e1;
    min-width: 100px;
}

.btn-medicus.btn-medicus-big-width {
    min-width: 200px;
}

.btn-medicus.btn-medicus-login {
    width: auto !important;
    min-width: 50%;
}

.btn-medicus.btn-medicus-control {
    width: auto !important;
    min-width: 50px;
}

.btn-medicus.btn-medicus-shaded {
    box-shadow: 0 6px 6px -4px rgba(32, 33, 36, 0.28);
}

.btn-medicus:hover {
    color: #fff;
    background-color: #6a74cd;
    border-color: #6a74cd;
}

.btn-medicus.focus, .btn-medicus:focus {
    box-shadow: 0 0 0 .2rem rgba(106, 116, 205, 0.5);
}

.btn-outline-medicus {
    color: #7986e1;
    border-color: #7986e1;
}

.btn-outline-medicus:hover {
    color: #fff;
    background-color: #7986e1;
    border-color: #7986e1;
}

.btn-outline-medicus.focus,
.btn-outline-medicus:focus {
    box-shadow: 0 0 0 .2rem rgba(106, 116, 205, 0.5);
}

.btn-outline-medicus.disabled,
.btn-outline-medicus:disabled {
    color: #6a74cd;
    background-color: transparent;
}

.btn-outline-medicus:not(:disabled):not(.disabled).active,
.btn-outline-medicus:not(:disabled):not(.disabled):active,
.show > .btn-outline-medicus.dropdown-toggle {
    color: #fff;
    background-color: #6a74cd;
    border-color: #6a74cd;
}

.btn-outline-medicus:not(:disabled):not(.disabled).active:focus,
.btn-outline-medicus:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-medicus.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(106, 116, 205, 0.5);
}

.btn-medicus.btn-medicus-shaded:focus {
    box-shadow: 0 6px 6px -4px rgba(32, 33, 36, 0.28);
}

.btn-medicus.btn-medicus-shaded:active {
    box-shadow: none;
}

.btn-medicus.disabled, .btn-medicus:disabled {
    color: #fff;
    background-color: #6a74cd;
    border-color: #6a74cd;
}

.btn-medicus:not(:disabled):not(.disabled).active, .btn-medicus:not(:disabled):not(.disabled):active, .show > .btn-medicus.dropdown-toggle {
    color: #fff;
    background-color: #7986e1;
    border-color: #7986e1;
}

.medicus-no-min-width {
    min-width: auto !important;
    width: auto !important;
}

.btn-medicus:not(:disabled):not(.disabled).active:focus, .btn-medicus:not(:disabled):not(.disabled):active:focus, .show > .btn-medicus.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(121, 134, 225, 0.5);
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #7986e1 !important;
}

.modal-content {
    border: none !important;
    border-radius: .3rem;
    box-shadow: 0 6px 6px -4px rgba(32, 33, 36, 0.28);
}

.btn-block-md {
    margin-bottom: 10px;
}

.btn-block-md:not(:first-child) {
    margin-left: 8px;
}

.medicus-bottom-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-control {
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #7986e1 !important;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(121, 134, 225, 0.25) !important;
}

/* Loading spinner from tobiasahlin.com */
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
}

.spinner.sp-small {
    width: 20px;
    height: 20px;
    position: relative;
}

.prepend-fixed {
    min-width: 80px;
}

button.flex-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button .spinner.sp-inline {
    align-self: center;
    margin-left: 8px;
}

.spinner .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.spinner.sp-medicus .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #7986e1;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.auth-logo {
    margin: 20px 0;
}

.admin-drop-nav-outer {
    padding: .25rem .75rem;
}

.admin-drop-nav-inner {
    margin: .25rem .75rem;
}

.admin-table {
    min-height: 320px;
}

table.admin-table {
    min-width: 509px;
    min-height: auto;
}

table.admin-table > thead > tr > th {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

table.admin-table > thead > tr > th:last-child, table.admin-table > thead > tr > th:first-child {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

table.admin-table > tbody > tr {
    height: 50px;
}

.admin-search {
    margin-bottom: 20px;
}

input.admin-search-input {
    width: 40%;
}

.margin-bot-default {
    margin-bottom: 10px;
}

.margin-bot-small {
    margin-bottom: 4px;
}

.margin-top-default {
    margin-top: 10px;
}

.margin-top-big {
    margin-top: 20px;
}

.admin-bottom {
    margin-top: 10px;
}

.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.flex-items-center {
    justify-content: center;
    align-items: center;
}

.flex-items-center-horizontal {
    justify-content: center;
}

.flex-items-center-vertical {
    align-items: center;
}

.flex-card {
    flex-direction: row;
    justify-content: space-between;
}

.flex-card-left {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.flex-card-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label.no-margin {
    margin: 0 !important;
}

.flex-left {
    flex-basis: 26%;
    margin-right: 20px;
}

.flex-right {
    flex-grow: 1;
}

.big-icon {
    font-size: 24px;
}

.medicus-title {
    margin: 0;
}

.margin-right-default {
    margin-right: 10px;
}

.bold {
    font-weight: bold;
}

td, th {
    text-align: center;
}

.input-group > .twitter-typeahead {
    position: relative;
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input-group > .twitter-typeahead:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group > .twitter-typeahead > .tt-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-control.tt-input:focus {
    z-index: 3
}

@media (max-height: 420px) {
    .auth {
        height: auto;
    }
}

.title-min-height {
    min-height: 36px;
}

@media (max-width: 1199.98px) {
    .flex-left {
        flex-basis: 31%;
    }

    .admin-table {
        min-height: 455px;
    }

    table.admin-table {
        min-height: auto;
    }
}

@media (max-width: 991px) {
    .navbar > .container, .navbar > .container-fluid {
        justify-content: normal !important;
    }

    input.admin-search-input {
        width: 100%;
    }

    .flex-left, .flex-right {
        display: block;
    }

    .flex-left {
        margin: 0;
    }

    .flex-right {
        margin-top: 20px;
    }

    .flex-patient-info {
        display: block !important;
    }

    .admin-top {
        margin-bottom: 10px;
    }

    .admin-table {
        min-height: 600px;
    }

    table.admin-table {
        min-height: auto;
    }
}

@media (max-width: 767.98px) {
    .admin-container:not(first-child) {
        box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
        border-radius: 10px;
        margin-top: 20px;
    }

    .admin-container:first-child {
        margin: 0;
        background-color: #fff;
        padding: 15px;
        box-shadow: 0 6px 6px -4px rgba(32, 33, 36, 0.28);
        border-radius: 0 0 10px 10px;
    }

    .medicus-bottom-buttons {
        justify-content: center;
    }
}

@media (max-width: 575.98px) {
    .admin-drop-nav-outer {
        padding: .5rem 0;
    }

    .admin-drop-nav-inner {
        margin: 0;
    }

    .admin-container:not(first-child) {
        box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
        border-radius: 0;
        margin-top: 20px;
    }

    .admin-container:first-child {
        margin: 0;
        background-color: #fff;
        padding: 15px;
        box-shadow: 0 6px 6px -4px rgba(32, 33, 36, 0.28);
        border-radius: 0 0 10px 10px;
    }

    .navbar-brand {
        margin: 0 auto;
    }

    .auth {
        height: auto;
    }

    .auth-container {
        justify-content: start;
        align-items: center;
    }

    .auth-row {
        min-width: auto;
        width: 100%;
        border-radius: 0;
    }

    .btn-medicus {
        min-width: auto;
    }

    .btn-medicus.btn-medicus-login {
        min-width: auto;
        width: 100% !important;
    }

    .auth-row-container {
        padding: 10px;
    }

    .auth-logo {
        margin-top: 50px;
    }

    .navbar-toggler {
        padding: 0 !important;
    }

    .navbar-nav {
        padding: 0 !important;
    }

    .shaded-container {
        border-radius: 0;
    }

    .btn-medicus.btn-block-md {
        display: block;
        min-width: auto !important;
        width: 100%;
        margin-left: 0;
    }

    .btn-medicus.btn-block-md-normal {
        display: block;
        min-width: auto !important;
        width: 100%;
    }

    .medicus-bottom-buttons {
        justify-content: normal;
        flex-direction: column-reverse;
    }

    .flex-card {
        flex-direction: column;
    }

    ul.typeahead.dropdown-menu {
        display: block;
        min-width: auto !important;
        width: 100%;
    }
}

.nav-link.active {
    color: #007bff !important;
}


/*Profile images near dropdown menu */
.img-profile-circle {
    border-radius: 50%;
    border-bottom-color: #1b1e21;
    border-top-color: #1b1e21;
}

.img-profile-rounded {
    border-radius: 25%;
    border-bottom-color: #1b1e21;
    border-top-color: #1b1e21;
}


/*Profile borders*/


.profile-bordered {
    border-color: #1b1e21;
    border-style: solid;
    border-radius: 15px;
    border-width: thin
}

