<!DOCTYPE html>
<html lang="{{ languageCode }}">
<head>
    <title>&bull; Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/champis/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/champis/css/bootstrap.min.css">
    <link rel="stylesheet" href="/champis/css/magnific-popup.css">
    <link rel="stylesheet" href="/champis/css/jquery-ui.css">
    <link rel="stylesheet" href="/champis/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/champis/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/champis/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="/champis/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/champis/css/aos.css">

    <link rel="stylesheet" href="/champis/css/style.css">
    <link rel="stylesheet" href="/champis/MainStyle.css">

</head>
<body>
<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <div class="border-bottom top-bar py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-0">
                        <span class="mr-3"><strong>Phone:</strong> <a href="tel://#">+1 292 3293 4238</a></span>
                        <span><strong>Email:</strong> <a href="#">info@yourdomain.com</a></span>
                    </p>
                </div>
                <div class="col-md-6">
                    <ul class="social-media">
                        <li><a href="#" class="p-2"><span class="icon-facebook text-black"></span></a></li>
                        <li><a href="#" class="p-2"><span class="icon-github text-black"></span></a></li>
                        <li><a href="#" class="p-2"><span class="icon-instagram  text-black"></span></a></li>
                        <li><a href="#" class="p-2"><span class="icon-linkedin  text-black"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header class="site-navbar py-4 bg-white" role="banner">

        <div class="container">
            <div class="row align-items-center">

                <div class="col-11 col-xl-2">
                    <h1 class="mb-0 site-logo"><a href="index.html" class="text-black h2 mb-0">Medicus_System </a></h1>
                </div>
                <div class="col-12 col-md-10 d-none d-xl-block">
                    <nav class="site-navigation position-relative text-right" role="navigation">

                        <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                            <!--<li><a href="work.html">Work</a></li>-->
                            <!--<li class="has-children">
                                <a href="services.html">Services</a>
                                <ul class="dropdown">
                                    <li><a href="services.html">Web Applications</a></li>
                                    <li><a href="services.html">WordPress Dev</a></li>
                                    <li><a href="services.html">Mobile Applications</a></li>
                                    <li><a href="services.html">eCommerce</a></li>
                                </ul>
                            </li>-->
                            <li><a href="staff.html">Staff</a></li>
                            <li><a href="news.html">News</a></li>
                            <li><a href="contacts.html">Contacts</a></li>

                            <li><a href="#" class="btn btn-primary btn-md text-white" id="logIn">Log In</a></li>
                        </ul>
                    </nav>
                </div>


                <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

            </div>


        </div>

    </header>
</div>

{% block body %}{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/jquery.min.js"><\/script>');</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script>if (typeof (Popper) === 'undefined') {
        document.write('<script src="/assets/js/popper.min.js"><\/script>')
    }</script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/base.js"></script>

{% block js %}

{% endblock %}
</body>
</html>